h1 {
    display: none;
}

.cover {
    background-image: url(../img/parts/main-image.jpg);
    aspect-ratio: 10 / 3.8;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    

    &__h3 {
        font-family: $accent-font;
        font-weight: 500;
        font-style: normal;
        color: $white;
        text-align: right;
        font-size: 4rem;
        width: 80%;
        max-width: $max;
        margin: 3rem auto;
        text-shadow: 1px 2px 3px $green;
        transform: skewX(-12deg);
        line-height: 1.6;

    }
}

.header {
    background-color: $green;
    height: 6rem;
    display: flex;
    align-items: center;
}

.pc-nav {
    width: 80%;
    max-width: $max;
    margin: auto;
    display: flex;
    justify-content: space-between;

    &__li {

        a {
            display: inline-block;
            color: $white;
        }
    }
}