// セクション共通

section {

    &>* {
        width: 80%;
        margin: auto;
        max-width: $max;

    }
}


.main-btn {
    background-color: $red;
    border: 3px solid $red;
    color: $white;
    padding: 1rem;
    margin: auto;
    text-align: center;
    display: block;
    width: 30rem;
    font-size: 2rem;
    transition: 0.5s;
    font-weight: bold;
    box-shadow: 3px 10px 10px -8px rgba(0, 0, 0, .3);

    @include sp {
        width: 25rem;
    }

    &:hover {
        background-color: $white;
        color: $red;
    }

    svg {
        margin-left: 1rem;
    }
}

.section {
    &__h2 {
        font-family: $accent-font;
        color: $green;
        margin: 0 auto;
        width: 80%;
        text-align: center;
        transform: skewX(-12deg);
        font-size: 5rem;
        font-size: min(4.5vw, 50px);

        @include sp {
            font-size: 3rem;
        }
    }
}

// ポイントセクション

.points {
    padding: 3rem 0;

    @include sp {
        padding: 0 0 3rem 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;

        @include sp {
            flex-direction: column;
            width: 90%;
            margin-top: 0;
        }

        &--right {
            background-color: $white;
            margin: 5rem 0 5rem -5rem;
            width: 60%;
            display: flex;
            justify-content: center;
            align-items: center;

            @include sp {
                margin: 0;
                width: 80%;
                margin-left: auto;
            }

            p {
                font-size: min(1.75vw, 22px);
                margin: auto;

                @include sp {
                    padding: 3rem 0;
                    font-size: 1.2rem;
                }
            }
        }

        &--left {
            position: relative;
            top: -5rem;
            width: 50%;

            @include sp {
                top: 3rem;
                left: -1rem;
                width: 60%;
            }
        }

    }

    &__bottom {
        margin: 5rem auto;

        @include sp {
            margin-bottom: 0;
        }

        .circle-wrap {
            display: flex;
            margin-top: 5rem;
            justify-content: space-between;

            @include sp {
                flex-direction: column;
            }
        }
    }
}

.circle-box {
    background-color: $white;
    border-radius: 50%;
    width: 30%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;

    @include sp {
        width: 90%;
        margin: 0 auto 5rem;
    }

    &__number {
        font-family: "learning-curve", sans-serif;
        font-size: 5rem;
        transform: rotate(-20deg);
        position: absolute;
        top: -2rem;
        left: 1rem;
    }

    &__h4 {
        font-family: $accent-font;
        color: $green;
        margin: 5rem 0 1rem;
        text-align: center;
        font-size: 3rem;
    }

    &__text {
        font-size: 1.2rem;
        line-height: 1.6;
        padding: 0 3rem 3rem 3rem;

    }
}

// お届け野菜のセクション

.kinds {

    #list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 5rem 0;

        @include sp {
            width: 96%;
        }

        li {
            transition: .3s;
            margin-bottom: 1rem;
            width: 200px;

            @include sp {
                width: 28%;
            }


            img {
                width: 90%;
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.05, 1.05);
            }
        }
    }

    &__box {
        background-color: $white;
        padding: 1rem 0 3rem;
        margin-bottom: 8rem;

        @include sp {
          width: 90%;
        }

        h4 {
            font-family: $accent-font;
            text-align: center;
            color: $red;
            font-size: 3rem;
            transform: skewX(-12deg);
        }
    }

    &__container {
        display: flex;
        justify-content: space-around;

        @include sp {
            flex-direction: column;
        }

        div {
            padding: 1rem 0;
            width: 45%;

            @include sp {
                width: 90%;
                margin: auto;
            }

            h5 {
                background-color: $beige;
                text-align: center;
                padding: 1rem 0;
                border-radius: 2rem;
                color: $brown;
                font-weight: bold;
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.4rem;

                @include sp {
                    font-size: 1rem;
                }
            }
        }
    }
}

.kinds-title {
    background-color: $beige;
    position: relative;
    padding: 2rem 0;
    margin-top: 8rem;

    .section__h2 {

        @include sp {
            margin: 0 auto;
            width: 96%;
        }
    }

    @include sp {
        width: 90%;
        margin-top: 5rem;
    }

    &::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -15px;
        border: 30px solid transparent;
        border-top: 30px solid $beige;

    }
}

.kinds-text {
    text-align: center;
}

.more-arrow {
    font-family: "learning-curve", sans-serif;
    font-size: 3rem;
    text-align: right;
    position: relative;
    left: -3rem;

    @include sp {
        font-size: 1.8rem;
    }

    &::after {
        content: '';
        width: 8rem;
        height: .7rem;
        border-bottom: solid 1px;
        border-right: solid 1px;
        transform: skew(45deg);
        position: absolute;
        bottom: 1.5rem;
        right: -2rem;

        @include sp {
            width: 5rem;
            bottom: 1rem;
            right: -1.5rem;
        }
    }
}

// トライアルセクション

.trial {

    padding-bottom: 3rem;


    &__top {
        display: flex;
        background-color: $white;
        margin: 3rem auto;
    }
}

.trial-box {
    display: flex;
    background-color: $white;
    margin: 8rem auto;
    align-items: end;
    position: relative;

    @include sp {
        flex-direction: column;
        width: 90%;
        margin: 5rem auto;
    }

    &__ribon {
        position: absolute;
        z-index: 60;
        width: 40%;
        top: -5rem;
        left: -5rem;
        
        @include sp {
            width: 70%;
            top: -3rem;
            left: -3rem;
        }

    }

    &__right {
        z-index: 40;
        width: 50%;

        @include sp {
            width: 90%;
            margin: auto;
        }
    }

    &__left {
        width: 50%;
        z-index: 20;
        padding-left: 3rem;

        @include sp {
            width: 90%;
            padding: 0;
            margin: auto;
        }

    }
}

// レシピセクション

.recipe {
    .section__h2 {
        padding-top: 5rem;
    }
}

// スライダー

.slider {
    width: 100%;
    position: relative;
    margin: 3rem auto 8rem;

    .swiper {
        width: 100%;
        margin: auto;
        max-width: $max;
    }

    .swiper-button-prev,
    .swiper-button-next {
        font-size: 2.8rem;
        color: $white;
        background-color: $brown;
        border: 3px solid $brown;
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
        transition: .5s;
    }

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
        background-color: $white;
        color: $brown;
    }

    .swiper-button-prev:after {
        content: '';
    }

    .swiper-button-next:after {
        content: '';
    }

    .swiper-button-prev {
        left: -10rem;
        @include sp {
            left: 0;
        }
    }

    .swiper-button-next {
        right: -10rem;

        @include sp {
            right: 0;
        }
    }


}


.recipe-card {
    background-color: $white;
    padding: 1rem;
    box-shadow: 3px 10px 10px -8px rgba(0, 0, 0, .3);

    &:hover {
        cursor: pointer;
        
        .recipe-card__img {
            overflow: hidden;

            img {
                transform:scale(1.2,1.2);
                transition: .5s all;
            }
        }
    }

    a {
        display: block;
    }

    &__title {
        border-bottom: 1px solid $gray;
        text-align: center;
        font-family: $accent-font;
        font-size: 1.8rem;
    }

    &__name {
        svg {
            border: 1px $gray solid;
            border-radius: 50%;
            padding: 3px;
            color: $red;
            margin-right: .5rem;
        }

        margin: .5rem 0;
        font-size: 1.4rem;
    }

    &__hashtag {
        font-size: 1.2rem;
        margin-top: .5rem;
    }
}

// ガイドセクション

.guide {
    padding-bottom: 3rem;
}

.accordion {
    width: 90%;
}