// 変数
$white: #fff;
$black: #333;
$green: #1A7400;
$red: #DD483B;
$beige: #fff9eb;
$brown: #4f371f;

$main-font: "游ゴシック体",
"Yu Gothic",
YuGothic,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"メイリオ",
Meiryo,
"MS Pゴシック",
"MS PGothic",
sans-serif;

$accent-font: "vdl-penletter", sans-serif;

$bp: 750px;
$max: 860px;

@mixin sp {
    @media (max-width:($bp)) {
        @content;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: $main-font;
    font-weight: 500;
    font-size: 1.6rem;
    color: $black;
    line-height: 1.8;

    @include sp {
        font-size: 1.4rem;
    }
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

a {
    color: $black;
    text-decoration: none;
    transition: 0.3s;

    &:hover {
        text-decoration: none;
    }
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

///////////// scssファイルの読み込み ///////////////
 
@import "header","section","humburger","modal","slider","footer";